.about-us__text-1 {
  color: var(--color-black);
  height: 44px;
}

.about-us__text-2 {
  color: var(--color-black);
  height: 160px;
}

.about-us__text-3 {
  height: 72px;
}

.about-us__read-more-link {
  color: var(--color-purple);
  height: 32px;
}

.about-us__read-more-link:hover {
  text-decoration: underline;
}

@media (width < 1000px) {
  .about-us__text-1{
    font-size: 12px;
    line-height: 16px;
  }

  .about-us__text-2 {
    font-size: 26px;
    line-height: 32px;
  }

  .about-us__text-3 {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (width < 600px) {
  .about-us__text-1{
    font-size: 10px;
    line-height: 12px;
  }

  .about-us__text-2{
    font-size: 24px;
    line-height: 26px;
  }

  .about-us__text-3{
    font-size: 10px;
    line-height: 14px;
  }
}