.category-item__icon-container {
  height: 64px;
  width: 48px;
}

.category-item__icon {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-yellow);
  border-radius: 12px;
}

.category-item__text-1 {
  width: 100%;
  height: 40px;
  color: var(--color-black);
}

.category-item__text-2 {
  width: 100%;
  height: 56px;
  color: var(--color-medium-grey);
}
