.category {
}

.category__header {
  height: 96px;
  display: flex;
  justify-content: center;
}

.category__header-text {
  width: 302px;
  height: 48px;
  color: var(--color-dark)
}

.category__categories {
  height: 228px;
  display: flex;
  justify-content: space-between;
}

@media (width < 1100px) {
  .category__categories {
    height: 488px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
  }
}

.categories__item {
  height: 228px;
  width: 296px;
  border: 1px solid;
  border-color: var(--color-medium-grey);
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.categories__item:hover {
  background-color: var(--color-yellow);
}