.footer {
  padding-top: 59px;
  padding-bottom: 56px;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 703px;
  margin-bottom: 55px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  gap: 775px;
  padding-top: 48px;
}

.footer__contact-information {
  width: 361px;
  color: var(--color-light);
}
