.futured-posts {
  display: flex;
  justify-content: space-between;
}

.futured-posts__future-post {
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.futured-posts__name-date-purple {
  color: var(--color-purple);
}

.futured-posts__all-posts {
  width: 40%;
}

@media (width < 900px) {
  .futured-posts {
    height: 804px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .futured-posts__future-post {
    width: 100%;
  }

  .futured-posts__all-posts {
    width: 100%;
  }
}
