.futured-posts {
  display: flex;
  justify-content: space-between;
}

.futured-posts__future-post {
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.futured-post__label {
  height: 48px;
  color: var(--color-black);
}

.futured-post__post-wrapper {
  height: 733px;
  display: flex;
  justify-content: center;
  padding: 32px;
  border: 1px solid;
  border-color: var(--color-medium-grey);
}

.post-wrapper__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-wrapper__image-container {
  height: 384px;
  display: flex;
  flex-direction: column;
}

.post-wrapper__image {
  height: 84.6%;
  object-fit: cover;
}

.post-wrapper__name-date {
  width: 30%;

  /* height: 20px; */
  height: 36px;
}

.futured-posts__name-date-purple {
  color: var(--color-purple);
}

.post-wrapper__text-1 {
  /* height: 80px; */
  height: 96px;
  color: var(--color-black);
}

.post-wrapper__text-2 {
  width: 82%;

  /* height: 56px; */
  height: 88px;
  color: var(--color-medium-grey);
}

.post-wrapper__read-more-btn {
  background-color: var(--color-yellow);
  height: 56px;
  width: 30%;
  min-width: 128px;
  color: var(--color-black);
}

.futured-posts__all-posts {
  width: 40%;
}

.all-posts__header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.all-posts__label {
  height: 48px;
  width: 26%;
  min-width: 133px;
}

.all-posts__view-all-label-container {
  width: 60px;
  padding-top: 11px;
}

.all-posts__view-all-label {
  height: 28px;
  color: var(--color-purple);
}

.all-posts__view-all-label:hover {
  text-decoration: underline;
}

.all-posts__posts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posts-list__post {
  height: 181px;
  padding-top: 32px;
  padding-bottom: 25px;
  padding-left: 32px;
}

.posts-list__post:hover {
  background-color: var(--color-light-yellow);
}

.posts-list__post-container {
  width: 71%;
}

.posts-list__post-name-date {
  /* height: 20px; */
  height: 28px;
}

.posts-list__post-text {
  height: 96px;
}

@media (width < 1000px) {
  .posts-list__post {
    padding-top: 16px;
    padding-bottom: 12.5px;
    padding-left: 16px;
  }

  .posts-list__post-container {
    width: 99%;
  }
}

@media (width < 900px) {
  .futured-posts {
    height: 804px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .futured-posts__future-post {
    width: 100%;
  }

  .futured-posts__all-posts {
    width: 100%;
  }

  .posts-list__post {
    padding-top: 32px;
    padding-bottom: 25px;
    padding-left: 32px;
  }

  .posts-list__post-container {
    width: 71%;
  }
}

@media (width < 1100px) {
  .futured-post__post-wrapper {
    padding: 0;
  }

  .post-wrapper__name-date {
    width: 100%;
  }

  .post-wrapper__image-container {
    height: clamp(1px, 250px, 300px);
  }
}
