.header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  /* width: 100%; */
}

.header__logo {
  height: 28.35px;
  width: 140px;
  align-self: center;
}

.header__links-btn-container {
  width: 516px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  height: 29px;
  width: 59%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
}

.header__subscribe-button {
  width: 34.7%;
  min-width: 100px;
  height: 56px;
  background-color: var(--color-light);
  color: var(--color-black);
}

@media (width < 600px) {
  .header__links-list {
    font-size: 12px;
    line-height: 12px;
    justify-content: space-around;
  }

  .header__subscribe-button {
    width: 50px;
    height: 40px;
    font-size: 12px;
    line-height: 12px;
  }
}

@media (width < 450px) {
  .header__links-list {
    font-size: 8px;
    line-height: 10px;
  }

  .header__subscribe-button {
    width: 40px;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
  }
}
