.home-hero__content {
  padding-top: 128px;
}

.home-hero__image {
  height: 100%;
  max-width: 1440px;
  background-image: url('images/human-with-macbook.png');
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}

.home-hero__hero-info {
  height: 400px;
  min-height: 400px;
  width: 63%;
  min-width: 380px;
  display: flex;
  flex-direction: column;
}

@media (width < 1200px) {
  .home-hero__hero-info {
    width: 100%;
  }
}

@media (width < 728px) {
  .home-hero__hero-info {
  }
}
