.home-hero__content {
  padding-top: 128px;
}

.home-hero__image {
  height: 100%;
  max-width: 1440px;
  background-image: url('images/human-with-macbook.png');
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}

.home-hero__hero-info {
  height: 400px;
  min-height: 400px;
  width: 63%;
  min-width: 380px;
  display: flex;
  flex-direction: column;
}

.hero-info__text-1 {
  /* height: 20px; */
  height: 44px;
  width: 28%;
  min-width: 380px;
  color: var(--color-light);
}

.hero-info__text-2 {
  /* height: 128px; */
  height: 152px;
  color: var(--color-light);
}

.hero-info__text-3 {
  /* height: 28px; */
  height: 44px;
  width: 30%;
  min-width: 380px;
  color: var(--color-light);
}

.hero-info__text-4 {
  /* height: 56px; */
  height: 104px;
  min-width: 380px;
  color: var(--color-light);
}

.hero-info__read-more-btn {
  background-color: var(--color-yellow);
  height: 56px;
  width: 25%;
  min-width: 128px;
  color: var(--color-black);
}

@media (width < 1200px) {
  .home-hero__hero-info {
    width: 100%;
  }

  .hero-info__text-2 {
  }
}

@media (width < 700px) {
  .hero-info__text-1 {
    font-size: 12px;
  }

  .hero-info__text-2 {
    font-size: 36px;
    line-height: 54px;
  }
}

@media (width < 728px) {
  .home-hero__hero-info {
  }
}
