.info {
}

.info__pattern {
  height: 23px;
  display: flex;
  justify-content: flex-end;
}

.info__pattern-yellow {
  background-color: var(--color-yellow);
  width: 61%;
}

.info__pattern-purple {
  background-color: var(--color-purple);
  width: 22%;
}

.info__container {
  background-color: var(--color-lavender);
  height: 500px;
  padding-top: 96px;
  padding-left: 6.25%;
  padding-right: 8.4%;
  display: flex;
  justify-content: space-between;
}

.info__about-us {
  width: 47%;
  height: 308px;
}

.info__our-mission {
  width: 47%;
  height: 248.73px;
}
