.list-of-authors__header {
  text-align: center;
}

.list-of-authors__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.list-of-authors__list-item {
  padding-top: 40px;
  width: 296px;
  height: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-of-authors__list-item:hover {
  background-color: var(--color-light-yellow);
}

.list-of-authors__item-picture {
  width: 128px;
}

.list-of-authors__item-name {
  padding-top: 20px;
  text-align: center;
}

.list-of-authors__item-post {
  width: 240px;
  display: flex;
  justify-content: center;
}

.list-of-authors__item-social-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 20px;
  width: 112px;
}
