.logo-component {
  display: flex;
  padding-top: 96px;
}

.logo-component__header {
  padding-right: 87px;
}

.logo-component__header__text_2 {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.logo-component__logo_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 72px;
}
