.our-mission__text-1 {
  color: var(--color-black);
  height: 44px;
}

.our-mission__text-2 {
  color: var(--color-black);
  height: 96px;
}

.our-mission__text-3 {
  height: 108.73px;
}

@media (width < 1000px) {
  .our-mission__text-1 {
    font-size: 12px;
    line-height: 16px;
  }

  .our-mission__text-2 {
    font-size: 22px;
    line-height: 32px;
  }

  .our-mission__text-3 {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (width < 600px) {
  .our-mission__text-1 {
    font-size: 10px;
    line-height: 12px;
  }

  .our-mission__text-2 {
    font-size: 18px;
    line-height: 22px;
  }
  
  .our-mission__text-3 {
    font-size: 10px;
    line-height: 14px;
  }
}