.page {
}

.page__header {
  height: 80px;
  background-color: var(--color-black);
}

.page__content {
  display: flex;
  flex-direction: column;
}

.page__home-hero {
  height: 720px;
}

.page__futured-posts {
  height: 804px;
}

.page__info {
  height: 523px;

  /* display: flex;
  flex-direction: column; */
}

.page__category {
  height: 324px;
}

.page__special-post {
  position: relative;
  padding-top: 128px;
}

.page__list-of-authors {
  padding-top: 833px;
}

.page__footer {
  background-color: var(--color-black);
}

.utl-page-gap {
  height: 128px;
}

@media (width < 900px) {
  .page__futured-posts {
    /* height: 1608px; */
    height: 1625px;
  }
}

@media (width < 1100px) {
  .page__category {
    height: 584px;
  }
}

@media (width < 768px) {
  .page__category {
    height: 1104px;
  }
}
