.profile {
  width: 257px;
  height: 60px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.profile__picture {
  grid-column: 1;
  grid-row: 1 / span 2;
  padding-right: 16px;
}

.profile__name {
  flex-direction: column;
}

.profile__city {
  flex-direction: column;
}