.page__testimonials {
  background-color: var(--color-light-yellow);
  display: flex;
  padding-top: 80px;
  padding-left: 112px;
  padding-bottom: 74px;
}

.page__testimonials-heading {
  width: 349px;
  height: 200px;
}

.testimonials-heading__text-2 {
  padding-top: 12px;
  padding-bottom: 16px;
}

.page__testimonials-line {
  padding-left: 80px;
  padding-right: 96px;
}

.testimonials__buttons {
  display: flex;
  align-items: center;
  padding-left: 141px;
  gap: 24px;
}
