.utl-txt-display {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
}

.utl-txt-heading-h1 {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
}

.utl-txt-heading-h2 {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

.utl-txt-heading-h3 {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
}

.utl-txt-heading-h4 {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.utl-txt-body-1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
}

.utl-txt-body-1-yellow {
  color: var(--color-yellow);
}

.utl-txt-label-01 {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

.utl-txt-cap-1 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.utl-txt-cap-1_bold {
  font-weight: 900;
}

.utl-txt-btn-text {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.utl-txt-read-more-link {
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0;
  vertical-align: middle;
}
