@import './styles/global/media.css';
@import './styles/colors/colors.css';
@import './styles/normalize.css';
@import './styles/global/utility.css';
@import './styles/components/text-styles.css';
@import './styles/components/container.css';
@import './styles/components/header.css';
@import './styles/components/page.css';
@import './styles/components/home-hero.css';
@import './styles/components/futured-posts.css';
@import './styles/components/info.css';
@import './styles/components/category.css';
@import './styles/components/special-post.css';
@import './styles/components/list-of-authors.css';
@import './styles/components/logo-component.css';
@import './styles/components/join-our-team.css';
@import './styles/components/testimonials.css';
@import './styles/components/footer.css';
@import './styles/components/footer-links-list.css';
@import './styles/components/cta.css';
@import './styles/components/category-item.css';
@import './styles/components/futured-post.css';
@import './styles/components/post-wrapper.css';
@import './styles/components/all-posts.css';
@import './styles/components/header-links-list.css';
@import './styles/components/hero-info.css';
@import './styles/components/about-us.css';
@import './styles/components/our-mission.css';
@import './styles/components/block-2.css';
@import './styles/components/profile.css';